<header class="navbar">
  <h1>Vendor Management</h1>
  <nav>
    <a href="/" >Dashboard</a>
    <a href="/items">Items</a>
    <a href="/sales">Sales</a>
    <a href="/customers" class="active">Customers</a>
    <a href="/report">Reports</a>
  </nav>
</header>
